device_path: /dev/ttyAMA0
baud_rate: 38400
discovery_prefix: homeassistant

nodes:
  1:
    name: base_station
    description: Base Station
    device_type: base
    board_model: Taransay r1
    firmware_version: "1.0.0"
    expire_after: 300
    rssi: false
    channels:
      battery_voltage:
        enabled: true
        description: Taransay base battery voltage
        unit: V
        class: voltage
        code: h
        scale: 0.001
        precision: 3
      temperature:
        enabled: true
        description: Taransay base temperature
        unit: °C
        class: temperature
        code: h
        scale: 0.1
        precision: 1
      humidity:
        enabled: true
        description: Taransay base humidity
        unit: "%"
        class: humidity
        code: h
        scale: 0.1
        precision: 1
      ext_temperature:
        enabled: true
        description: Taransay base external temperature
        unit: °C
        class: temperature
        code: h
        scale: 0.1
        precision: 1
