client_id: some-host
request_acknowledge: true
device_path: /dev/ttyS0
baud_rate: 115200
discovery_prefix: homeassistant

nodes:
  1:
    name: base_station
    description: Base Station
    device_type: base
    board: Taransay
    board_version: r1
    firmware: taransay_x
    firmware_version: "1.0.0"

  25:
    name: th1
    description: Living room environment sensor
    device_type: th
    board: Taransay
    board_version: r1
    firmware: taransay_th
    firmware_version: "1.1.0"
    expire_after: 900
    rssi: true
    rssi_description: Living room received signal strength indicator
    channels:
      battery_voltage:
        enabled: true
        description: Living room battery voltage
        unit: V
        class: voltage
        scale: 0.001
        precision: 3
      temperature:
        enabled: true
        description: Living room temperature
        unit: °C
        class: temperature
        scale: 0.01
        precision: 2
      ext_temperature:
        enabled: true
        description: Living room external temperature
        unit: °C
        class: temperature
        scale: 0.1
        precision: 1
      humidity:
        enabled: true
        description: Living room humidity
        unit: "%"
        class: humidity
        scale: 0.01
        precision: 2
